################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/src/SharedLib/.vs
/src/SharedLib/bin/Debug
/src/SharedLib/obj
/test/SharedLib.Test/.vs
/test/SharedLib.Test/bin/Debug/net8.0
/test/SharedLib.Test/obj
