################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/src/PgcSharedLib/.vs
/src/PgcSharedLib/bin/Debug
/src/PgcSharedLib/obj
/test/PgcSharedLib.Test/.vs
/test/PgcSharedLib.Test/bin/Debug/net8.0
/test/PgcSharedLib.Test/obj
